.App {
  text-align: center;
  background: #ffbf00;
}

.App-header {
  background: #ffbf00;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Navbar {
  background: #8045d3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Footer {
  grid-area: footer;
  background: #8045d3;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

}

.bodyRow{
  display:flex;
  flex-direction:row;
}

.Body{
  background: #ffbf00;
}

.Placeholder{
  background: #FFFFFF;
}

.map{
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.space-form{
  height:100vh;
}